services:
  oha:
    image: ghcr.io/hatoo/oha:latest
    container_name: oha
    restart: unless-stopped
    user: ${USER_ID:-1000}:${GROUP_ID:-1000}
    environment:
      TZ: ${TZ}
    volumes:
      - ../results/oha:/results
    networks:
      - wbx_net
    profiles:
      - loadgen
    cpuset: '8-11'

networks:
  wbx_net:
    name: wbx_net
    external: true
